body{
  margin: 0;
  front-family: sans-serif;
}
nav{
  display: flex;
  background-color: black;
  justify-content: flex-end;
  flex-direction: column;
  flex-basis: 15vw;
  flex-shrink:0;
  order:0;
}

nav a {
  background-color: blue;
  color: white;
  padding: 0.25em 0.5em;
  transition: background-color: 1s;
  text-decoration: none;
}

nav a: hover {
  background-color: green;
}

header, main {
  background-color: brown;
  overflow: auto;
  color: white;
  padding: 0 0.5em;
}
main{
  display: flex;
}
